<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [83]:
#Import the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
#Import the advertising dataset
adv_data = pd.read_csv('Adv.csv')

#### 2: Analyze the dataset

In [23]:
#View the initial few records of the dataset
adv_data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

#Check the total number of elements in the dataset
adv_data.size

#### 3: Find the features or media channels used by the firm

In [11]:
#Check the number of observations (rows) and attributes (columns) in the dataset
adv_data.shape

(200, 5)

In [12]:
#View the names of each of the attributes
adv_data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [45]:
#Create a feature object from the columns
X_features = adv_data.iloc[0:len(adv_data),0:4]

In [46]:
#View the feature object
print(X_features)

     Unnamed: 0  TV Ad Budget ($)  Radio Ad Budget ($)  \
0             1             230.1                 37.8
1             2              44.5                 39.3
2             3              17.2                 45.9
3             4             151.5                 41.3
4             5             180.8                 10.8
..          ...               ...                  ...
195         196              38.2                  3.7
196         197              94.2                  4.9
197         198             177.0                  9.3
198         199             283.6                 42.0
199         200             232.1                  8.6

     Newspaper Ad Budget ($)
0                       69.2
1                       45.1
2                       69.3
3                       58.5
4                       58.4
..                       ...
195                     13.8
196                      8.1
197                      6.4
198                     66.2
199                      8.7

[200 rows x 4 columns]

In [73]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_features = adv_data['Sales ($)']

In [75]:
#View the target object
print(Y_features)

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales ($), Length: 200, dtype: float64

In [77]:
#Verify if all the observations have been captured in the feature object
X_features.size

800

In [78]:
#Verify if all the observations have been captured in the target object
Y_features.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [84]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
X_train,X_test,Y_train,Y_test = train_test_split(X_features,Y_features,train_size=0.75,random_state=2021)

In [86]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((150, 4), (50, 4), (150,), (50,))

#### 6: Create a model  to predict the sales outcome

In [87]:
#Create a linear regression model
LinReg = LinearRegression()

In [88]:
#Print the intercept and coefficients 
LinReg.fit(X_train,Y_train)

LinearRegression()

In [91]:
#Predict the outcome for the testing dataset
X_pred = LinReg.predict(X_test)
print(X_pred)

[13.7131938   8.26101229 16.45574445 12.8015318   4.65186185 16.92196437
 20.22087102  9.5410754  16.09047573  8.98748251  8.57994731  3.92766293
 10.69828303 20.5633872  11.62643178 19.34360949 21.97669541  3.79667208
 10.08716028 20.67407501 17.46677729 14.06569147  8.07606707 15.47119287
 24.10522324 15.15601345 18.46458886 15.46310941 10.8551917  21.67917026
 20.12616221  8.93012743  7.04689397 10.73962611 20.76325717 18.3330762
 17.08035705 11.68957805 19.37898004 12.87991527 19.03149221  6.46908694
 12.65887725 11.46717535 10.9897056   5.7917178  12.27047129 18.14772617
 10.89531958 18.30660869]

In [93]:
#Adding my own step to create a crosstab
X_pred,Y_test

(array([13.7131938 ,  8.26101229, 16.45574445, 12.8015318 ,  4.65186185,
        16.92196437, 20.22087102,  9.5410754 , 16.09047573,  8.98748251,
         8.57994731,  3.92766293, 10.69828303, 20.5633872 , 11.62643178,
        19.34360949, 21.97669541,  3.79667208, 10.08716028, 20.67407501,
        17.46677729, 14.06569147,  8.07606707, 15.47119287, 24.10522324,
        15.15601345, 18.46458886, 15.46310941, 10.8551917 , 21.67917026,
        20.12616221,  8.93012743,  7.04689397, 10.73962611, 20.76325717,
        18.3330762 , 17.08035705, 11.68957805, 19.37898004, 12.87991527,
        19.03149221,  6.46908694, 12.65887725, 11.46717535, 10.9897056 ,
         5.7917178 , 12.27047129, 18.14772617, 10.89531958, 18.30660869]),
 122    11.6
 24      9.7
 23     15.5
 148    10.9
 76      6.9
 35     12.8
 0      22.1
 51     10.7
 178    11.8
 132     5.7
 196     9.7
 8       4.8
 72      8.8
 104    20.7
 88     12.9
 133    19.6
 58     23.8
 108     5.3
 18     11.3
 52     22.6
 74     17.0
 181    12.2
 172     7.6
 97     15.5
 183    26.2
 162    14.9
 153    19.0
 199    13.4
 126     6.6
 42     20.7
 139    20.7
 13      9.7
 10      8.6
 158     7.3
 137    20.8
 141    19.2
 99     17.2
 80     11.8
 28     18.9
 4      12.9
 193    19.6
 22      5.6
 179    12.6
 164    11.9
 130     1.6
 155     3.2
 2       9.3
 169    15.0
 180    10.5
 14     19.0
 Name: Sales ($), dtype: float64)

#### 7: Calculate the Mean Square Error (MSE)

In [94]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [95]:
#Calculate the MSE
mean_squared_error(Y_test,X_pred)

4.97949403989172

In [102]:
sum((Y_test-X_pred)**2)/len(Y_test)  #done manually

4.979494039891719